<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="warning">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    <div class="sidebar-wrapper">
      <div class="logo text-center">
				{{#link-to 'index' class="simple-text"}}Mastodon{{/link-to}}
				<small class="text-info">{{session.data.authenticated.instance}}</small>
      </div>

      <ul class="nav">
				  {{#each menuItems as |item|}}
							<li class="{{if (eq activePanel.code item.code) 'active'}}">
			          <a {{action 'test' item}}>
			            <i class="{{item.icon}}"></i>
			            <p>{{item.title}}</p>
			          </a>
			        </li>
					{{/each}}
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand">{{titlePanel}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a {{action 'invalidateSession'}} class="btn btn-danger btn-xs navbar-btn navbar-right">Logout</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <div class="card">
					{{#if activePanel.componentName}}
						{{component activePanel.componentName}}
					{{/if}}
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-right">
          &copy; made with <i class="fa fa-heart heart"></i> by <a>Me</a>
        </div>
      </div>
    </footer>

  </div>
</div>
