<div class="header">
    {{#bs-button type="xs btn-succes" onClick=(action 'update')}}Update{{/bs-button}}
    {{post-status}}

</div>

<div class="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <ul class='list-unstyled team-members'>
            {{#each reverseModel as |status|}}
              <li>
                {{show-status status=status}}
              </li>

            {{/each}}
          </ul>
        </div>
    </div>
</div>
{{yield}}
