{{#bs-button type="xs btn-info" onClick=(action (mut modalPost) true)}}new Post{{/bs-button}}
<!-- Modal -->
{{#bs-modal open=modalPost onSubmit=(action "post") onHidden=(action (mut modalPost) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      New status
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{textarea id='post_status' placeholder='Enter text' class="form-control" value=post_value.status  autofocus="autofocus"}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="info" onClick=(action modal.submit)}}Send{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}

<!--    end modal -->
