<div class="row">
  <div class="col-md-12">
    {{#if status.reblog}}
      <h5>{{status.account.display_name}}&nbsp; reblog <small>{{moment-from-now status.created_at interval=5000}}</small></h5>
    {{/if}}
    {{#if status.favourited}}
    <div class="pull-right text-info">
      <i class="fa fa-star"></i>
    </div>
    {{/if}}
    {{#if status.reblogged}}
    <div class="pull-right text-info">
      <i class="fa fa-retweet"></i>
    </div>
    {{/if}}
  </div>
</div>
  <div class="row">
      <div class="col-md-1 col-xs-2">
        {{#unless status.reblog}}
          <div class="avatar">
              <img src="{{{status.account.avatar}}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
        {{else}}
          <div class="avatar">
              <img src="{{{status.reblog.account.avatar}}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
        {{/unless}}
      </div>
      <div class="col-md-11 col-xs-10">
        {{#unless status.reblog}}
           <h4 class="title">{{status.account.display_name}}&nbsp;<small>{{moment-from-now status.created_at interval=5000}}</small></h4>
           <div class="typo-line">{{{status.content}}}</div>
          {{else}}
           <h4 class="title">{{status.reblog.account.display_name}}&nbsp;<small>{{moment-from-now status.reblog.created_at interval=5000}}</small></h4>
           <div class="typo-line">{{{status.reblog.content}}}</div>
          {{/unless}}
      </div>
  </div>
  {{#if showTools}}
  <div class="row">
    <div class="col-xs-2">
          {{act-button icon="xs fa fa-reply" lib='Reply' action=(action 'reply')}}
    </div><div class="col-xs-2">
          {{act-button icon="xs fa fa-retweet" lib='Boost' action=(action 'boost')}}
      </div>
      {{#if status.favourited}}
      <div class="col-xs-2">
          {{act-button icon="xs fa fa-star" lib='Unfavorite' action=(action 'favorite')}}
      </div>
      {{else}}
      <div class="col-xs-2">
          {{act-button icon="xs fa fa-star" lib='Favorite' action=(action 'favorite')}}
      </div>
      {{/if}}
      <div class="col-xs-2">
         {{act-button icon="xs fa fa-trash" lib='Delete' action=(action 'delete')}}
    </div>
  </div>
  {{/if}}
  {{yield}}
