{{!-- app/templates/application.hbs --}}
<nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mastodon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "about" class="btn btn-simple"}}About{{/link-to}}</li>
        <li>{{#link-to "protected" class="btn btn-simple"}}Protected{{/link-to}}</li>
        {{#if session.isAuthenticated}}
          <a {{action 'invalidateSession'}} class="btn btn-danger btn-xs navbar-btn navbar-right">Logout</a>
        {{else}}
          <a {{action 'transitionToLoginRoute'}}  class="btn btn-success btn-xs navbar-btn navbar-right">Login</a>
        {{/if}}
        <li>
            <a href="/about" target="_blank" class="btn btn-simple"><i class="fa fa-github"></i></a>
        </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>

  <div class="wrapper">
      <div class="register-background">
          
              <div class="container">
                  {{outlet}}
              </div>
      </div>

      <div class="footer register-footer text-center">
              <h6>&copy; 2015, made with <i class="fa fa-heart heart"></i> by Me</h6>
      </div>

  </div>
