{{!-- app/templates/application.hbs --}}
<div class="profile-content section-nude">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center">
                  <h1>Ember Simple Auth example app</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              {{#unless session.isAuthenticated}}
                <div class="alert alert-info">
                  You can {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}} with login for mastodon.xyz.
                </div>
              {{/unless}}
              <div class="alert alert-info">
                The dummy app provides two routes - the {{#link-to 'protected'}}Protected Page{{/link-to}} that loads some Ember Data models where the API validates that the request is authorized
              </div>
            </div>
        </div>
    </div>
</div>
