{{!-- app/templates/login.hbs --}}
{{#if errorMessage}}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
               <b>Error :</b> {{errorMessage}}
        </div>
    </div>
</div>
 {{/if}}
  <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
          <div class="register-card">
              <h3 class="title">Welcome</h3>
              <form class="register-form" {{action 'authenticate' on='submit'}}>
                <label for="instance">Instance</label>
                {{input id='instance' placeholder='Enter instance name' class="form-control" value=instance}}
                <label for="identification">Email</label>
                {{input id='identification' placeholder='Enter Email' class="form-control" value=identification}}
                <label for="password">Password</label>
                {{input id='password' placeholder='Enter Password' type='password' class="form-control" value=password}}
                <button class="btn btn-danger btn-block" type="submit">Login</button>
              </form>
          </div>
      </div>
  </div>
