
<div class="profile-content section-nude">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center">
                  <h3>Local Timeline</h3>
                    <a {{action 'update'}}  class="btn btn-success btn-xs">Update</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <ul class='list-unstyled follows'>
                {{#each reverseModel as |status|}}
                  <li>
                    {{#if status.reblog}}
                      <div class="row">
                        <div class="col-md-11">
                          <h5>{{status.account.display_name}}&nbsp; reblog <small>{{status.reblog.created_at}}</small></h5>
                        </div>
                      </div>
                      {{/if}}
                      <div class="row">
                          <div class="col-md-1">
                            {{#unless status.reblog}}
                              <h4><img src="{{{status.account.avatar}}}" alt="Circle Image" class="img-circle img-no-padding img-responsive"></h4>
                            {{else}}
                              <h4><img src="{{{status.reblog.account.avatar}}}" alt="Circle Image" class="img-circle img-no-padding img-responsive"></h4>
                            {{/unless}}
                          </div>
                          <div class="col-md-10">
                            {{#unless status.reblog}}
                               <h4>{{status.account.display_name}}&nbsp;<small>{{status.created_at}}</small></h4>
                               {{{status.content}}}
                              {{else}}
                               <h4>{{status.reblog.account.display_name}}&nbsp;<small>{{status.reblog.created_at}}</small></h4>
                               {{{status.reblog.content}}}
                              {{/unless}}
                          </div>
                      </div>
<hr>
                  </li>

                {{/each}}
              </ul>
            </div>
        </div>
    </div>
</div>
